<html>
<head>
	<title>page 2</title>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--bootstrap-select-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link href="css/index.css" rel="stylesheet">

    <link rel="stylesheet" href="css/newEvent.css">
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
    <!-- top nav -->
	<div class="topBar fixed-top" >
		<div class="row">
			<div class="col">
				{{!-- <a href="javascript:history.back()"><img src="images/backButton.png" class="topIcons"></a> --}}
			</div>
			<div class="col-8">
				<h4>Create New Event</h4>
			</div>
			<div class="col">
				<a href="help"><img src="images/infoButton.png" class="topIcons" id="infoButton"></a>
			</div>
		</div>
	</div>
   <div class="container">
        <p class="p8">Give event details</p>
   </div>
   <div class="containerEvent">
        <form id="createEvent" method="get" action="/addEvent">
        	<!--image-->
        	<label for="image" hidden><b>Image</b></label>
        		<input type="file" class="form-control" placeholder="image upload" name="image">

        	<!--event name-->
        	<label for="eventName">Event Name*</label>
		        <input type="text" class="form-control" placeholder="Event Name" name="eventName" required>

		    <!--event type-->
	        <div class="form-group row">
                <label for="event" class="col-sm-2 col-form-label">Event*</label>
                <div class="col-sm-10">
                    <select name="eventType" class="selectpicker dropdown-menu-right form-control" data-actions-box="true" id="eventType" required>
                        <option value="" hidden>None</option>
                        <option value="Adoption">Adoption</option> 
                        <option value="Meetup">Meetup</option> 
                        <option value="Class">Class</option>
                        <option value="Fundraising">Fundraising</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

        	<!--pet type-->
            <div class="form-group row">
                <label for="petType" class="col-sm-2 col-form-label">Pet Type*</label>
                <div class="col-sm-10">
                    <select name="petType" class="selectpicker dropdown-menu-right form-control" id="petType" required>
                        <option value="" hidden>None</option>
                        <option value="Dog">Dog</option> 
                        <option value="Cat">Cat</option> 
                        <option value="Critter">Critter</option>
                        <option value="Reptile">Reptile</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <!--dog breeds-->
            <div class="form-group row" id="dogBreedDiv">
                <label for="breed" class="col-sm-2 col-form-label">Breed</label>
                <div class="col-sm-10">
                    <select name="dogBreed" class="selectpicker dropdown-menu-right form-control formHeight" data-live-search="true" id="dogBreed" title="Pick a breed" data-size="5">
                        {{#each dogs}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <!--cat breeds-->
            <div class="form-group row dropdownEvent" id="catBreedDiv">
                <label for="catBreed" class="col-sm-2 col-form-label">Breed</label>
                <div class="col-sm-10">
                    <select name="catBreed" class="selectpicker dropdown-menu-right form-control" data-live-search="true" id="catBreed" title="Pick a breed" data-size="5">
                        {{#each cats}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <label for="time">Time*</label>
	        	<input type="time" class="form-control" placeholder="Time" name="time" required>
            <label for="location">Location*</label>
        		<input type="text" class="form-control" placeholder="Location" name="location" required> 
        	<label for="description">Description*</label>
        		<input type="text" class="form-control" placeholder="Description" name="description" required>
        
        	<div class="submitBtn">
            	<button class="btn" onclick="viewEvent()" id="getDataBtn" type="submit">Create new event</button>
        	</div>
        </form>
    </div>

    <!-- bottom nav -->
	<div class="mynavbar">
		<!--home-->
		<a class="navbar-brand" href="index">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bottomIcons bi bi-house-door-fill" viewBox="0 0 16 16">
				<path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
			</svg>
		</a>
		<!--search-->
		<a class="navbar-brand" href="search">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bottomIcons bi bi-search" viewBox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			</svg>
		</a>
		<!--new event-->
		<a class="navbar-brand" href="newEvent">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bottomIcons bi bi-calendar-plus-fill" viewBox="0 0 16 16">
				<path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0z"/>
			</svg>
		</a>
		<!--messages-->
		<a class="navbar-brand" href="messages">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bottomIcons bi bi-chat-square-text-fill" viewBox="0 0 16 16">
				<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
			</svg>
		</a>
		<!--profile-->
		<a class="navbar-brand" href="profile">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bottomIcons bi bi-person-fill" viewBox="0 0 16 16">
				<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
			</svg>
		</a>
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!--bootstrap-select-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
   	<script src="js/newEvent.js"></script>
</body>
</html>
