/* ==================== NAVS ==================== */
/* Top nav bar */

body {
    padding: 0px;
}

.topBar {
    background-color: rgb(228, 228, 228);
    align-items: center;
    padding: 10px;
}

.topBar img, .topBar h4 {
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.topIcons {
    width: 20px;
}

#infoButton {
    margin-top: 7px;
}

/* bottom navbar */

.mynavbar {
    text-align: center;
    overflow: hidden;
    background-color: rgb(228, 228, 228);
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.mynavbar a {
    color: #000000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.bottomIcons {
    width: 25px;
}

.container {
    margin-top: 70px;
}
/* For the logo on home page*/
.pic-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
  font-size:11px;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:11px;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:16px;
  text-align: center;
}

.p4 {
  font-family: "Brush Script M7", "Lucida Handwriting", cursive;
  font-size:11px;
}

.p5 {
  font-family: "Copperplate", "Papyrus", fantasy;
  font-size:11px;
}

.p6 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:20px;
  color:red;
  text-align: center;
}
/* ==================== end ==================== */