/* ==================== NAVS ==================== */
/* Top nav bar */

body {
    padding: 0px;
}

.topBar {
    background-color: #8dbbf2;
    align-items: center;
    padding: 10px;
}

.topBar img, .topBar h4 {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.topIcons {
    width: 20px;
}

#infoButton {
    margin-top: 7px;
}

/* bottom navbar */

.mynavbar {
    text-align: center;
    overflow: hidden;
    background-color: #8dbbf2;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.mynavbar a {
    color: #fefdff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.bottomIcons {
    width: 25px;
}

.container {
    margin-top: 70px;
}

/* For the logo on home page*/
.pic-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
  /*font-size:16px; */
  color:black;
  text-align: center;
}

.p4 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size:30px;
  color:black;
  text-align: center;
  font-weight: bold;
}

.p5 {
  font-family: "Copperplate", "Papyrus", fantasy;
  color:black;
  text-align: center;
}

.p6 {
  font-family: "Lucida Console", "Courier New", monospace;
  /*font-size:20px; */
  color:black;
  text-align: center;
}

.p7 {
  font-family: "Lucida Console", "Courier New", monospace;
  color:black;
  text-align: left;
  font-size:15px;
}

.p8 {
  font-family: "Lucida Console", "Courier New", monospace;
  color:black;
  text-align: center;
  font-size:15px;
}

.p9 {
  font-family: "Lucida Console", "Courier New", monospace;
  color:black;
  text-align: center;
  font-size:15px;
}

.p10 {
  font-family: "Brush Script M7", "Lucida Handwriting", cursive;
  color:black;
  text-align: right;
  font-size:15px;
}

/* Index / home stuff */
.containerIndex {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 70px;
    margin-bottom: 80px;
    text-align: center;
}

.contentBorder {
    border-radius: 25px;
    border: 2px solid #facedf;
    background-color: rgb(255, 239, 243);
    padding: 10px;
    height: auto;
}

#searchEventBtn {
    margin-top: 2%;
}

#avatar {
  margin-left: 3%;
  margin-right: 3%;
}

/* Resutls and Search pages */
.sortFilter {
    margin-top: 60px;
    text-align:center;
    margin-left: 5%;
    margin-right: 5%;
}

.btn, .selectpicker{
    background-color:#d8dde9;
    color: black;
}

.go-btn, #searchEventBtn {
    background-color: #d9aa6b;
    border-color: #d9aa6b;
}
/* card stuff */

.resultsCards {
    margin-left: 5%;
    margin-right: 5%;
    overflow: scroll;
}

.card {
    margin-top: 5px;
    background-color: rgb(255, 239, 243);
    border-color: #c68f94;
}

.card-thumbnail {
    padding: 0px;
    margin-left: 3%;
    margin-right: 3%;
    width: 85px;
    height: auto;
}
.card-description {
    width: 45%;
    font-size: small;
}
.card-button {
    margin: auto;
}

/* images */
#popcorn {
    width: 100%;
}

.card-img {
    width: 100%;
}

/* misc */
.NoResultsBottom {
    margin-bottom: 80px;
    text-align: center;
}

.card-text {
    margin-top: 0%;
    margin-bottom: 0%;
}
/* ==================== end ==================== */

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  /* float: right; */
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

/* event */
.eventImage{
    /* background-color: #494949; */
    /* padding: 0px; */
    margin-left: 7%;
    margin-right: 7%;
    width: 80%;
    height: auto;
}

#profileContainer {
    text-align: center;
}

.logoutBtn {
    background: #d9aa6b;
}